doctype html
html(class='no-js', lang='en-US')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    meta(name='description', content='Yiff Spot allows users to yiff anonymously with other furries in realtime.')
    meta(name='keywords', content='Furries, Furry, Yiff, Chat, Online, Random, Anonymously')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title= pageTitle

    link(rel='author', href='/humans.txt' type='text/plain')
    link(rel='shortcut icon', href='/assets/img/favicon.ico' type='image/x-icon')
    link(rel='apple-touch-icon', href='/assets/img/apple-touch-icon.png')

    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css')
    link(rel='stylesheet', href='/assets/css/main.css')
  body
    | <!--[if lt IE 8]>
    |   <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    | <![endif]-->

    div(class='container-fluid')
      div(class='row')
        div(class='col-lg-2 sidebar')
          div(class='logo')
            img(src='assets/img/logo.png' alt='Yiff Spot - Yiff With Random Furries')

          p(class='text-center text-muted')
           span(id='userCount') 0
           |  Users Online

          form(id='userSettings', action='/', method='post', role='form')
            div(class='row')
              div(class='col-lg-12')
                label Your Gender
                select(name='userGender', id='userGender', class='form-control selectpicker input-sm')
                  option(value='') Select Gender
                    for gender in genders
                      option #{gender}

            div(class='row')
              div(class='col-lg-12')
                label Your Species
                select(name='userSpecies', id='userSpecies', class='form-control selectpicker input-sm')
                  option(value='') Select Species
                  for breed in breeds
                    option #{breed}

            div(class='row')
              div(class='col-lg-12')
                label Your Role
                select(name='userRole', id='userRole', class='form-control selectpicker input-sm')
                  option(value='') Select Role
                  for role in roles
                    option #{role}

            div(class='row')
              div(class='col-lg-12')
                label Partner's Gender
                select(name='partnerGender[]', id='partnerGender', class='form-control selectpicker input-sm', multiple='multiple')
                  option(value='any' selected='selected') Any / All
                  for gender in genders
                    option #{gender}

            div(class='row')
              div(class='col-lg-12')
                label Partner's Species
                select(name='partnerSpecies[]', id='partnerSpecies', class='form-control selectpicker input-sm', multiple='multiple')
                  option(value='any' selected='selected') Any / All
                  for breed in breeds
                    option #{breed}

            div(class='row')
              div(class='col-lg-12')
                label Partner's Role
                select(name='partnerRole', id='partnerRole', class='form-control selectpicker input-sm')
                  option(value='') Select Role
                  for role in roles
                    option #{role}

             div(class='row')
              div(class='col-lg-12')
                label Kinks
                select(name='userKinks[]', id='userKinks', class='form-control selectpicker input-sm', multiple='multiple')
                  option(value='any' selected='selected') Any / All
                    for kink in kinks
                      option #{kink}

             div(class='row')
               div(class='col-lg-12')
                 button(type='submit' class='btn btn-primary btn-block btn-sm') Find Partner

             div(class='row credit')
               div(class='col-lg-12 text-muted')
                 p
                   | BTC 1M37quYzVHzgvmjt6TirGAN1EuTUZpcNDR
                 p
                   | Created by 
                   a(href='https://twitter.com/KisukaKiza' target='_blank') @KisukaKiza

      div(id='welcome' class='row')
        div(class='col-sm-offset-4 col-lg-offset-2 col-lg-10')
          h3 Welcome to Yiff Spot
          p On Yiff Spot you are able to yiff one-on-one with a random furry in real-time. Your yiffing partner is selected at random based on the preferences you set. You are kept completely anonymous unless you tell your partner who you are.
          p To begin, set your preferences and click the "Find Partner" button.

      div(class='row' id='chat')
        div(class='col-sm-offset-4 col-lg-offset-2 col-lg-10')
          ul(id='messages' class='list-unstyled')
            li(id='typing' class='message message-system') Your partner is typing...

          form(action='', id='messageBox', role='form')
            input(name='message', id='message', type='text' class='form-control', placeholder='Enter your message...', autocomplete='off', required='required')

    script(src='/assets/js/socket.io-1.4.5.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js')
    script(src='/assets/js/jquery.titlealert.js')
    script(src='/assets/js/main.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-57519723-1', 'auto');
      ga('send', 'pageview');